:root {
    --my_yellow: #ffc92e;
    --my_green: #02b602;
    --my_gray: #DFDFDF;
}

*{
    padding: 0;
    margin: 0;
}

/*using form to sumbit bloodtests and randevouz*/

form table{
    border-collapse: collapse;
    background: var(--my_gray);
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
form th{
    padding: 5px;
    border: solid 3px white;
}
form td{
    padding: 5px;
    text-align: center;
    border: solid 3px white;
}
form input{
    text-align: center;
}

.textarea-container{
    text-align: center;
}
.textarea-container textarea{
    resize: none;
    background-color: #cbcbcb;
    padding: 20px;
}

.msg{
    width: 100%;
    text-align: center;
    font-size: 30px;
}

button:hover{
    cursor: pointer;
}

body{
    background: aqua;
}

footer{
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 200px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

nav{
    width: 100%;
    height: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}
nav .container{
    width: 90%;
    background: aqua;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
}
nav button{
    height: 30px;
    width: 100px;
}

#logout-btn{
    display: none;
}

#settings-btn{
    display: none;
}

#form-container{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.form{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form button{
    height: 30px;
}

.form .uname-container, .psw-container{
    display: flex;
    gap: 5px;
}

#guest-link{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#guest-link #guest-btn{
    background-color: aqua;
    color: blue;
    border: none;
}

.form #logout-btn{
    display: none;
}

.form input{
    height: 20px;
}

#output{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: red;
    text-align: center;
}

#profile{
    display: none;
}

/*a div that contains buttons in a row*/
.row-btn-container{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.row-btn-container button{
    width: 80px;
    height: 40px;
    color: white;
    font-size: 20px;
    border: ridge 3px;
}
.row-btn-container button:hover{
    cursor: pointer;
    border: inset 3px;
}

/*a div that contains buttons in a column*/
.col-btn-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    height: 300px;
}
.col-btn-container button{
    border: solid 1px;
    border-radius: 30px;
    font-size: 23px;
    height: 60px;
    background: beige;
}
.col-btn-container button:hover{
    cursor: pointer;
}

.settings-table{
    border-collapse: collapse;
    background: var(--my_gray);
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.settings-table th{
    padding: 5px;
    border: solid 3px white;
}
.settings-table td{
    padding: 5px;
    text-align: center;
    border: solid 3px white;
}
.settings-table input{
    text-align: center;
    background: var(--my_gray);
}

.submit-btn{
    width: 80px;
    height: 40px;
    color: white;
    font-size: 20px;
    border: ridge 3px;
    background: var(--my_yellow);
}
.submit-btn:hover{
    cursor: pointer;
    border: inset 3px;
}

/*contains a message like no randevouz or no treatments etc*/
.msg-container{
    padding: 30px;
    width: 40%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}